<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>119880083496-1obl0hr2f0uneh5vbf3khdhnngo2pgcb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.119880083496-1obl0hr2f0uneh5vbf3khdhnngo2pgcb</string>
	<key>API_KEY</key>
	<string>AIzaSyA7UewGn3G_I1wS0tu-DJ0P5OqrVGnHPZs</string>
	<key>GCM_SENDER_ID</key>
	<string>119880083496</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.helpapp</string>
	<key>PROJECT_ID</key>
	<string>helpapp-f17dc</string>
	<key>STORAGE_BUCKET</key>
	<string>helpapp-f17dc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:119880083496:ios:8fc271a9002f319d85ed1d</string>
</dict>
</plist>